/* Impede seleção/arrasto da imagem */
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Imagem no header */
header img {
    max-height: 60px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Corrigido o footer fixo ao final da página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

footer {
    width: 100%;
    background-color: rgb(111, 94, 219);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    position:absolute; /* importante para posicionar a .footer-image */
}

/* Imagem dentro do footer */
.footer-image {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 100px;
    height: auto;
}

/* Responsividade */
@media (max-width: 1024px) {
    .slider {
        width: 100%;
    }

    .manual-navigation,
    .navigation-auto {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .auth-buttons {
        flex-direction: column;
        align-items: center;
    }

    .slider {
        height: auto;
    }

    .slide img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .manual-btn {
        padding: 3px;
        margin-right: 20px;
    }

    .search-bar {
        max-width: 200px;
    }
}
